<p id="notice"><%= notice %></p>


<div class="ui fluid container">
  <h1>Listing Posts</h1>

  <div class="ui cards">
    <% @posts.each do |post| %>
      <div class="ui raised card">
        <div class="content">
          <div class="header"><%= post.title %></div>
          <div class="description">
            <p><%= post.text %></p>
          </div>
        </div>
        <% if logged_in? %>  
          <div class="extra content">
              <div class="right floated author">
                  <%= post.user.name %>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= paginate @posts %>

  <br>
</div>




